﻿@page "/citiesofinterest"

@using Swapfiets.Reports.BlazorServer.Data
@using Swapfiets.Reports.Thefts
@using Swapfiets.Reports.Thefts.Common
@inject TheftFetchingService TheftFetchingService

<h1>Cities of Interest</h1>

<p>Display the registered thefts in cities of interest.</p>

@if (_theftRecords == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Location</th>
                <th># Thefts</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var theftRecord in _theftRecords)
            {
                <tr>
                    <td>@theftRecord.Location</td>
                    <td>@theftRecord.NumberOfReports</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private TheftResponse[] _theftRecords;

    protected override async Task OnInitializedAsync()
    {
        _theftRecords = await TheftFetchingService.GetConstantCitiesAsync();
    }
}
