﻿@page "/query"
@using Swapfiets.Reports.BlazorServer.Data
@inject TheftFetchingService TheftFetchingService
<h1>Query Thefts by Location</h1>

<div>
    <p>Location parameters (free-text area to provide city, state, country code, etc.)</p>
    <p>Please use at least two parameters to get more precise results and to avoid collisions (like same city names from different countries)</p>
    <textarea id="TextArea1" rows="1" cols="20" @bind="@_locationParameters"></textarea>
    <p>Number of thefts: @_numberOfThefts</p>
</div>
<button class="btn btn-primary" @onclick="@(async () => await IncrementCount())" disabled="@string.IsNullOrWhiteSpace(_locationParameters)">Get number of thefts for location parameter</button>


@code {
    private int _numberOfThefts = 0;
    private string _locationParameters = "";

    private async Task IncrementCount()
    {
        var response = await TheftFetchingService.GetTheftsForLocationParams(_locationParameters);
        _numberOfThefts = response.NumberOfReports;
    }
}
